[submodule "OpenForumzFrontEnd"]
	path = OpenForumzFrontEnd
	url = https://github.com/SergiuDeveloper/OpenForumzFrontEnd
[submodule "OpenForumzBackEnd"]
	path = OpenForumzBackEnd
	url = https://github.com/SergiuDeveloper/OpenForumzBackEnd
